.card.advisor-card {
  @extend .border-0;
  @extend .shadow;

  margin-top: 200px;
  min-height: 500px;

  .card-body {
    .advisor-img {
      margin-top: -145px;
      margin-bottom: 3rem;
      height: 250px;
      width: 250px;
    }

    .card-title {
      color: map-get($theme-colors, 'gold');
    }

    .advisor-links {
      a {
        color: map-get($theme-colors, 'gold');
        font-family: $font-family-sans-serif;
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
}
