.carousel {
  .carousel-inner {
    @extend .pb-5;

    .carousel-item {
      @extend .bg-img-full;
      @extend .py-5;

      min-height: 656px;

      .container {
        @extend .h-100;

        .row {
          @extend .h-100;

          &.top-right {
            @extend .justify-content-end;
          }

          &.top-left {
            @extend .justify-content-start;
          }

          &.bottom-right {
            @extend .justify-content-end;
          }

          &.bottom-left {
            @extend .justify-content-start;
          }

          .col-box {
            @extend .h-100;

            position: relative;

            .position-box {
              position: absolute;

              @include media-breakpoint-down(lg) {
                bottom: 0;
              }

              @include media-breakpoint-up(lg) {
                &.top-right {
                  top: 0;
                  right: 0;
                }

                &.top-left {
                  top: 0;
                  left: 0;
                }

                &.bottom-right {
                  right: 0;
                  bottom: 0;
                }

                &.bottom-left {
                  left: 0;
                  bottom: 0;
                }
              }

              .full-header-box {
                &.blue {
                  background-color: rgba(map-get($theme-colors, 'primary'), 80%);
                  color: $white;
                }

                &.light-blue {
                  background-color: rgba(map-get($theme-colors, 'light-blue'), 80%);
                  color: $white;
                }

                h1 {
                  @include partial-border-bottom('light-blue', 25%, 5px);

                  color: $white;
                }
              }
            }
          }
        }
      }
    }
  }
}
