/**
 * Header
 */

.brand {
  font-weight: bold;
}

.color-header {
  width: 100%;
  min-height: 656px;
  background-color: map-get($theme-colors, 'bg-grey');
  position: absolute;
  z-index: -1;
}

.virtue-header {
  @extend .bg-img-full;

  min-height: 656px;
  width: 100%;
  background-image: url('../images/virtue-magazine-header.jpg');
  position: relative;
  z-index: -1;
}
