header.banner {
  background-color: #FFF;
}
nav.navbar {
  padding-left: 0;
  padding-right: 0;

  .navbar-brand {
    svg {
      max-width: 250px;
      height: auto;
    }
  }

  .navbar-nav {
    .nav-item {
      &.show,
      &.current-menu-ancestor {
        a.nav-link {
          color: map-get($theme-colors, 'light-blue');
          border-bottom: 4px solid map-get($theme-colors, 'light-blue');
        }
      }

      a.nav-link {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0.25rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        color: map-get($theme-colors, 'primary');
        font-weight: bold;
        font-family: 'Arial Narrow', arial, sans-serif;
        border-bottom: 4px solid $white;

        &:hover {
          color: map-get($theme-colors, 'light-blue');
          border-bottom: 4px solid map-get($theme-colors, 'light-blue');
        }

        &:focus {
          outline: none;
        }

        &::after {
          display: none;
        }
      }
    }

    .dropdown-menu {
      @extend .border-0;
      @extend .shadow;

      border-radius: 0;

      .dropdown-item {
        font-family: $font-family-sans-serif;
        font-weight: normal;
        font-size: 1rem;
        background-color: transparent;
        color: map-get($theme-colors, 'primary');

        &:hover {
          color: map-get($theme-colors, 'light-blue');
        }
      }
    }
  }
}
