/**
 * Variables
 */

// These are the defaults, but you can override any values
$font-family-sans-serif: Arial, sans-serif !default;
$font-family-serif:      "Minion Pro", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;
$font-family-nav:        "Arial Narrow", Arial, sans-serif;
$body-color: #363330;

$theme-colors: (
  'primary': #002A6B,
  'gold': #7D694F,
  'white': #ffffff,
  'light-blue': #2494D4,
  'bg-grey': rgba(125, 75, 109, 5%),
);
