@mixin partial-border($color, $width, $height:3px) {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;

  &::after {
    content: '';
    width: $width;
    height: $height;
    background-color: map-get($theme-colors, $color);
    position: absolute;
    bottom: -1rem;
    left: 0;
  }

  &::before {
    content: '';
    width: $width;
    height: 3px;
    background-color: map-get($theme-colors, $color);
    position: absolute;
    top: -1rem;
    left: 0;
  }
}

@mixin partial-border-bottom($color, $width, $height:3px) {
  position: relative;
  margin-bottom: 2rem;

  &::after {
    content: '';
    width: $width;
    height: $height;
    background-color: map-get($theme-colors, $color);
    position: absolute;
    bottom: -1rem;
    left: 0;
  }
}
