.page-template-fellows-advisors {
  .main {
    @extend .pt-5;

    #fellows-advisors-nav {
      .nav-tabs {
        border-bottom: 0 solid transparent;

        @include media-breakpoint-up(lg) {
          border-bottom: 4px solid map-get($theme-colors, 'gold');
        }

        .nav-link {
          border: none;

          &.active {
            box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
          }
          @include media-breakpoint-down(md) {
            border-bottom: 4px solid transparent;
            padding: 1rem;
            background-color: map-get($theme-colors, 'bg-grey');

            &.active {
              border-bottom: 4px solid map-get($theme-colors, 'gold');
              background-color: #fff;
            }
          }

          h2 {
            font-family: $font-family-sans-serif;
            font-weight: bold;
            color: map-get($theme-colors, 'primary');

            @include media-breakpoint-down(md) {
              font-size: 1.5rem;
            }
          }
        }
      }
    }

    #fellows-advisors-tabContent {
      @extend .py-5;
    }

    .virtue-magazine {
      background-color: map-get($theme-colors, 'bg-grey');
    }
  }
}
