.page-template-leadership-roles {
  overflow-x: hidden;
}

.job-header {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.blue-bar {
  padding: 1rem;
  background-color: map-get($theme-colors, 'primary');
}

div.job_listings {

  .job-listings-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  form.job_filters {
    margin-bottom: 3rem;
  }

  ul.job_listings {
    border: none;

    li.job_listing {
      padding: 1rem 0;
      border: 1px solid map-get($theme-colors, 'bg-grey');
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15) !important;
      margin: 2rem 0;

      a {
        color: #000;
        img.company_logo {
          width: 78px;
          height: auto;
        }
        .position {
          padding-left: 80px;

          .company {
            h2 {
              color: map-get($theme-colors, 'gold');
              margin-bottom: 0;
            }
            h3 {
              font-family: $font-family-sans-serif;
              color: #000;
              font-weight: bold;
              margin-bottom: 1rem;
            }
          }

          .read-more {
            font-weight: bold;
            color: map-get($theme-colors, 'gold');
          }
        }
        ul.meta {
          li {
            padding: 1rem 0;
            text-align: left;
            font-weight: bold;
            color: map-get($theme-colors, 'gold');
            border-bottom: 1px solid map-get($theme-colors, 'gold'); 
          }
          li:last-child() {
            border-bottom: none;
          }
        }
      }
    }
  }
}
