.page-template-virtue-magazine {
  .overlay-header {
    margin-top: -20rem;
  }

  h1 {
    color: $white;
    text-transform: uppercase;
    font-size: 9rem;
  }

  .main {
    background: $white;

    span.color-gold {
      color: map-get($theme-colors, 'gold');
    }
  }

  .single-cards {
    background-color: map-get($theme-colors, 'bg-grey');

    .card.single-card {
      overflow: hidden;

      img {
        @extend .card-img-top;

        object-fit: cover;
        max-width: 100%;
        height: 40%;
      }
    }
  }

  .virtue-magazine-module {
    background-color: map-get($theme-colors, 'bg-grey');
  }
}
